
html, body {
  margin: 1;
  padding: 0;
}

div {
  border: 1px solid black;
}

/* Header properties */

.header {
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 70%;
  padding: 0px 0px 12px 0px;
  flex-wrap: wrap;
}

.header span {
  padding: 20px 0px 10px 10px;
  color: MediumAquamarine;
}

/* Nav properties */

ul {
  display: inline-flex;
  justify-content: flex-end;
  border: 1px solid red;
  height: 60%;
  width: 26%;
  padding: 36px 0px 0px 0px;
  flex-wrap: wrap;
}

ul span {
  margin: 0;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  justify-content: center;
}

/* Main body */
.column1 {
  display: flex;
  margin: 0;
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#title1 {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  background-repeat: no-repeat;
  height: 300px;
  width: 629px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#title2 {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
  width: 629px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

#title3 {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  width: 629px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column2 {
  margin: 0;
  width: 300px;
}

.column3 {
  margin: 0;
  width: 240px;
}

.mainbody {
  display: inline-flex;
  background-color: lightgray;
  width: 1225px;
  align-items: flex-start;
  padding-top: 30px;
  justify-content: space-between;
  align-items: stretch;
}

.main {
  display: flex;
  justify-content: center;
}
